.markdowneditor .markdowneditor_editor {
	position: relative;
	font-family: Monaco, "Liberation Mono", Courier, monospace;
	z-index: 0;
}

.markdowneditor .markdowneditor_editor .ace_content {
	line-height: normal;
}

.markdowneditor .ace-twilight .ace_gutter-active-line,
.markdowneditor .ace-twilight .ace_marker-layer .ace_active-line {
	background-color: transparent;
}
